<div class="row p-3 fw-bolder">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <button class="nav-link active" [routerLink]="['/home']" aria-current="page">Home</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" [routerLink]="['/items']" routerLinkActive="router-link-active">Manage
                Items</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" [routerLink]="['/rental']">Rentals</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" [routerLink]="['/']">Billing</button>
        </li>
    </ul>
</div>